* {
    box-sizing: border-box;
}

.credit-cards {
    background: #ffffff;
    border-radius: 20px;
    max-width: 350px;
    min-height: 100%;
    border: 1px solid #dedee1;
}

/* card container */
.credit-card-container {
    display: flex;
    flex-direction: column;
    font-size: 16px;
    line-height: 1.5;
    font-weight: 400;
    color: #181b25;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
        'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
        'Helvetica Neue', sans-serif;
}

/* card image*/
.credit-card-image {
    width: 100%;
    padding: 0;
    margin: 0;
    border-radius: 15px 15px 0 0;
    background-color: #f3f4f6;
}

.credit-card-image img {
    width: 100%;
    max-width: 100%;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    border-radius: 0 0 8px 8px;
    display: block;
    margin-bottom: 24px;
}

/* card name */
h3.credit-card-name {
    color: #1f1c4f;
    font-size: 24px;
    font-weight: 700;
    margin: 0 0 12px 0;
}

/* card description */
.credit-card-description {
    color: #333;
    font-size: 1rem;
    margin: 0 24px 18px 24px;
}

.credit-card-details strong {
    font-weight: 700;
}

.credit-card-body {
    padding: 24px 18px 30px 18px;
}
